<h4>Current Attendees</h4>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Age</th>
      <th scope="col">Likes Beer</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each_with_index do |attendee, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= attendee.first_name %></td>
      <td><%= attendee.last_name %></td>
      <td><%= attendee.age %></td>
      <td><%= attendee.likes_beer %></td>
      <td><a href="/attendee/<%= attendee.id %>/edit"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>
      <form action="/attendee/<%= attendee.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
      <td><a href="/attendee/<%= attendee.id %>"><button type="submit" class="btn btn-primary btn-sm">Delete</button></a></td>
      </form>
    </tr>
    <% end %>
  </tbody>
</table>
